<footer id="contact" class="reveal-on-scroll">
    <div class="contact-container">
        <div class="contact-info">
            <h1>Contact Us</h1>
            <p style="margin-top: 1.5rem;"><strong style="color: var(--color-primary);">WhatsApp:</strong> 0821 - 2335 - 8377</p>
            <p><strong style="color: var(--color-primary);">Email:</strong> team.temubahagia@gmail.com</p>
            <p style="max-width: 500px; margin: 0 auto 1.5rem auto;"><strong style="color: var(--color-primary);">Office Address:</strong> Jalan Kuping Gajah, No.16 (DAC 40), Cisaranten Kulon, Kec. Arcamanik, Kota Bandung, Jawa Barat, 40293</p>
            <div class="social-icons">
                <a href="https://www.youtube.com/channel/UCV4G1zjSbeS6ZVtRTBbr11Q" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100077435064155#" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/temubahagia.id" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <img src="/img/Filosofi logo.png" alt="Filosofi Logo" class="footer-logo">
        </div>
    </div>
</footer>