<nav class="navbar navbar-expand-lg navbar-light py-3">
    <div class="container-fluid px-5">
        <a class="navbar-brand ms-3" href="/">
            <img src="/img/temubahagiatrans.png" alt="Logo" class="navbar-logo-img">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-md-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        SERVICES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <li><a class="dropdown-item" href="/finding-me">Finding Me</a></li>
                        <li><a class="dropdown-item" href="/finding-you">Finding You</a></li>
                        <li><a class="dropdown-item" href="/finding-us">Finding Us</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">ARTICLES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/testimony">TESTIMONY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>