<div class="page-inverted">
    <div class="main-container px-3 text-center">
        <h1 class="service-page-title mt-4" style="max-width: 800px; margin: 0 auto; color: white;">{{article.title}}</h1>
        <div class="author-byline justify-content-center mt-3 text-white-50">
            <i class="fas fa-user me-2"></i>
            <span>Oleh: Rena Puspa</span>
        </div>
        <img src="{{article.imageUrl}}" alt="{{article.title}}" class="top-image img-fluid my-4">
    </div>
</div>

<div class="service-feature-section">
    <div class="container">
        <div class="article-content">
            {{article.content}}
        </div>
    </div>
</div>